<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maps-js.apissputnik.ru/v0.3/sputnik_maps_bundle.min.css" />

    <link rel="stylesheet" type="text/css" href="http://leaflet.github.io/Leaflet.draw/src/leaflet.draw.css">
</head>
<body>
    <div id="root" class="wrapper"></div>
    <script src="https://maps-js.apissputnik.ru/v0.3/sputnik_maps_bundle.min.js"></script>

    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/Leaflet.draw.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>

    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/Toolbar.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/Tooltip.js"></script>

    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/ext/GeometryUtil.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/ext/LatLngUtil.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/ext/TouchEvents.js"></script>

    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/DrawToolbar.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>

    
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/EditToolbar.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>
    
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/Control.Draw.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js"></script>
    <script type="text/javascript" src="http://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>
</body>
</html>